.text{
    color: #5a1b24;
}
.fleshe{
    font-size: large;
}
body{
    margin: 15px;
}
#nav{
   background-color: white;
   box-shadow: 0 10px 17px 0 #c3c3c3;
}
#navbas{
    justify-content: space-between;
    height: 70px ;
    align-items: center;   /*centrer le texte de haut en bas*/
}
#navbas div a{
    padding-right: 15px;
    text-decoration: none;
    color: #5a1b24;
}
#droite{
    padding-right: 1px ;
}
#icon{
    height: 50px;

}


#menubas{
    display: none;
    background-color: white;
    box-shadow: 0px -1px 8px -5px rgba(0, 0, 0, 0.75), 0px 1px 8px -5px rgba(0, 0, 0, 0.75);
}

#menubas a{
    display: block;
    text-decoration: none;
    color: #5a1b24;
    text-align: center;
}

#droite a:hover{
    transition: 0.3s;
    box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.75);
}

#menubas a:hover{
transition: 0.3s;
box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.75);

}

#icon2 {
display: none;
}
.contenair{
    display: flex;
}

#imagefond{
    background-image: url("../images/other-devushka-kofe-chashka-ruki-noutbuk-61188.jpeg");
   height: 900px;
   width: 105,6%;
   background-size: cover;
   margin-top: 1px;
   align-items: center;
}
#motflot{
    display: block;
    
}
/*icon du haut*/
.ico{
    align-items: center;
}
.soratraico{
    text-shadow: #c3c3c3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/*
commencement du corp du page
*/
#contenuimage{
    align-items: center;
}
#contenuimage h1, #contenuimage h5{
    color: white;
}
#bt1,#bt2{
    color: white;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
   
    text-transform: uppercase;
}
#bt1{
    margin-right: 100px;
    height: 60px;
    width: 120px;
}
#bt2{
    height: 60px;
    width: 200px;
}

#bt1:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: 0.8s;
    border-radius: 3px 20px 30px 20px;
}

#bt2:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: 0.8s;
    border-radius: 3px 20px 30px 20px;
}


/*2em partie titre milieu apres image*/
#centertitle{
    text-align: center;
    margin-top: 100px;
}
#centertitle h1{
    color: #5a1b24;
    font-weight: bold;
}

#textico{
    display: flex;
    align-items: center;
    text-align: center;
 
}
.texte-right{
    text-align: left;
    padding: 14px;
}

#textico img{
    margin-right: 4px;
}
#textico:hover{
    box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    border-radius: 5px 5px 5px 5px;
}





@media (max-widht: 1118px){
    #menubas{
        display: none;
       }
}
@media (max-width: 940px){
    #menubas{
        display: none;
       }
}

@media (max-width: 860PX){
   #droite{
    display: none;
   }
   #icon2{
    display: block;
    
   }
   #textico{
    margin-left: 14px;
}
}