.text{
    color: #5a1b24;
}
.fleshe{
    font-size: large;
}
body{
    margin: 15px;
}
#nav{
   background-color: white;
   box-shadow: 0 10px 17px 0 #c3c3c3;
}
#navbas{
    justify-content: space-between;
    height: 70px ;
    align-items: center;   /*centrer le texte de haut en bas*/
}
#navbas div a{
    padding-right: 15px;
    text-decoration: none;
    color: #5a1b24;
}
#droite{
    padding-right: 1px ;
}
#icon{
    height: 50px;

}